.cat-p{
    margin-bottom: 40px;
    font-size: 30px;
    color: grey;
}

.sidetxt-p{
    color: grey;
}
.side-txt-hr{
    width: 400px;
    margin-right: 150px;
}
#video-9437-1_youtube_iframe{
    
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.video-p{
    margin-top: 50px;

    font-size: 20px;
}