.slideshow {
    margin: 0 auto;
    overflow: hidden;
    max-width: 1300px;
  }
  
  .slideshowSlider {
    white-space: nowrap;
    transition: ease 1000ms;
  }
  .three-offers-pic{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin-top: 20px;
  }
  .three-offers-pic > div {
      margin: 4px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .three-offers-pic > div > img {
      border-radius: 4px;
  }
  .slide {
    display: inline-block;
    height: 400px;
    width: 100%;
    border-radius: 40px;
  }
  
  /* Buttons */
  
  .slideshowDots {
    text-align: center;
  }
  #category-img {
    border-radius: 5px;
  }
  
  .slideshowDot {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
  
    cursor: pointer;
    margin: 0px 7px 0px;
  
    background-color: #c4c4c4;
  }
  
  .slideshowDot.active {
    background-color: #6a0dad;
  }