#navbar-box{
    margin-top: 3px;
    display: flex;
    flex-direction: row;
    border-top: 2px solid rgb(78, 76, 76);
    border-bottom: 2px solid rgb(182, 176, 176);
    justify-content: space-between;
    overflow: hidden;
    margin-bottom: 4px;
    /* position: fixed; */
}
/* .nav-main-box{
    position: fixed;
} */
#search-box{
    flex: 0.8;
    display: flex;
    flex-direction: column;
}
#nav-title{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: -8px;
    margin-bottom: -3px;
}
#nav-title > div {
    border-right: 1px solid rgb(185, 181, 181);
    display: block;
    padding: 3px;
    font-size: 14px;
}
#logo-img{
    margin-left: 5px;
}
#location{
    margin-top: 13px;
}
#location select {
    cursor: pointer;
    outline: none;
}
#serach-div{
    margin-top: -5px;
    display: block;
    margin-left: -20px;
}
#search-input{
    width: 660px;
    outline: none;
    border: 1px solid rgb(160, 157, 157);
    height: 30px;
    margin-top: -10px;
    border-radius: 4px;
}
#login-reg{
    display: flex;
    flex-direction: row;
    place-content: center;
    place-items: center;
    margin-right: 4px;
}
#login-reg > div {
    border-right: 1px solid grey;
    padding: 3px;
    font-size: 15px;
}